@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body {
    font-family: Montserrat, Arial, sans-serif;
    height: 100%;
    min-height: 100vh;
    background-color: #ebf3ff;

}

.content-wrapper {
    padding: 1% 10%;
}

/* HEADERS */
h1 {
    border-bottom: 3px solid #ebf3ff;
    font-size: 3em;
    transition: all 0.25s linear;
    margin: 1% auto;
    color: #ebf3ff;
}

h2 {
    padding: 5px;
    color: #ebf3ff;
    background-color: RoyalBlue;
    margin: auto;
    text-align: left;
}

header {
    background-color: RoyalBlue;
    position: sticky; top: 0;
    margin: 0% auto;
    padding: 0.5%;
}
/* END OF HEADERS */

#filling-form {
    margin-left: auto;
    margin-right: auto;
}

/* HOME PAGE */
#main_page_list ul, #answers_list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main_page_list li, #answers_list li {
    margin-bottom: 2%;
    background-color: #7ec5ff;
    padding: 1%;
    border-radius: 5px;
    border: 2px solid #0a52ee;
    font-size: 16px;
}

#main_page_list li:nth-child(even),
#answers_list li:nth-child(even) {
    background-color: #ffffff;
}

#main_page_list #title-link {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#main_page_list li {
    display: grid;
    grid-template-columns: 5% auto;
}

#main_page_list p, a {
    margin: auto;
    padding: 1%;
}

#question-block {
    grid-column: 2;
    grid-row: span 1;
    border: 1px solid royalblue;
    margin-left: 1%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0.5%;
}

#question_views_votes, #question-views, #question-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

#question-votes {
    margin-bottom: 1%;
    border-bottom: 2px solid royalblue;
}

#question_views_votes {
    background-color: #ffffff;
    border: 1px solid royalblue;
    border-radius: 5px;
}

#main_page_list li:nth-child(even) #question-block {
    background-color: #7ec5ff;
}
#main_page_list li:nth-child(even) #question_views_votes {
    background-color: #7ec5ff;
}

#title-link:hover {
    text-decoration: underline;
}

#left-section {
    float: left;
    width: 10%;
    height: 100%;
    background: white;
    padding: 2%;
    border: 2px solid #0a52ee;
    margin-top: 1%;
  }

#main_page_list  {
    float:right;
    width: 85%;
    background-color: #f1f1f1;
    margin-top: 1%;
}

#question-sorting label {
    font-weight: bold;
    margin-top: 1%;
}

#question-sorting select {
    margin-bottom: 1%;
    padding: 2%;
}
/* END OF HOME PAGE */

/* QUESTION PAGE */
#comment_for_question, #comment_for_answer {
    /* display: flex;
    flex-direction: column; */
    width: 80%;
    /* align-self: center;
    align-items: flex-start; */
    border-top: 1px solid royalblue;
    border-bottom: 1px solid royalblue;
    padding: 2%;
}

#comment_for_question h4, #comment_for_answer h4 {
    margin-top: 0.5%;
    border-bottom: 1px solid royalblue;
}


#comment_for_question a, #comment_for_answer a {
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
}

#comment_for_question a:hover, #comment_for_answer a:hover {
    color: black;
    text-decoration: underline;
}

#comment_for_question a, #comment_for_answer p {

}

#actual_comment {
    display: grid;
    grid-column: 90% 10%;
}

#comment_submission_time {
    grid-column: 2;
}

#question-page #nav-bar {
    border-bottom: 2px solid #0a52ee;
}

#question-page #nav-bar:after {
    content: "";
    clear: both;
    display: table;
}

#question-page #nav-bar button, #home-button button{
    background-color: white;
    border: 2px solid #0a52ee;
    color: #0a52ee;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

#question-page #nav-bar button:hover, #home-button button:hover {
    background-color: #0a52ee;
    color: white;
}

#question-page #nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    width: 100%;
    margin-left: 45%;
}

#answers-header {
    display: grid;
    grid-template-rows: 30px 40px;
    margin-bottom: 2%;
    border-bottom: 2px solid #0a52ee;
}

#image img{
    width: 20%;
}

#question-message {
    margin-bottom: 1%;
    background-color: white;
    padding: 1%;
    border: 1px solid #0a52ee;
    font-size: 16px;
    border-radius: 5px;
    overflow: auto;
}

#answers_list li {
    display: grid;
    grid-template-columns: 8% auto;
}

#answers_list p, a {
    margin: auto;
    padding: 1%;
}

#answer-right-side {
    grid-column: 2;
    grid-row: span 1;
    border: 1px solid royalblue;
    margin-left: 1%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0.5%;
}

#answer-left-side, #voting {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

#answer-left-side {
    background-color: #ffffff;
    border: 1px solid royalblue;
    border-radius: 5px;
}

#answers_list li:nth-child(even) #answer-right-side {
    background-color: #7ec5ff;
}
#answers_list li:nth-child(even) #answer-left-side {
    background-color: #7ec5ff;
}
#answers_list li:nth-child(even) button {
    background-color: #ffffff;
}

#voting button {
    background-color: #7ec5ff;
    border: 1px solid royalblue;
    border-radius: 5px;
}

#voting {
    margin-bottom: 5%;
    border-bottom: 2px solid royalblue;
}

#answers_list li:nth-child(even) #voting button {
    background-color: #ffffff;
}

#voting button:hover {
    border: 2px solid royalblue;
}

/* END OF QUESTION PAGE */

/* FORMS PAGES */
#filling-form {
    margin: 2% auto 0% auto;
    border: 2px solid #0a52ee;
    width: 50%;
    padding: 5%;
}

#filling-form label, button{
    font-weight: bold;
}

#filling-form label, button, input{
    font-size: 20px;
}

#question_title {
    width: 100%;
    padding-bottom: 1%;
    margin-bottom: 5%;
}

#question_text, #answer_text {
    height: 90%;
    width: 100%;
    padding-bottom: 10%;
    margin-bottom: 5%;
}

#filling-form button {
    margin-top: 5%;
    margin-left: 5%;
    position:relative;
    left: 80%;
}

.home-button {
    margin: 1% auto;
}

.home-button form {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
/* END OF FORMS PAGES */

/* SUBMIT BUTTONS */
#post-button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 2%;
}

#post-button:hover {
    background-color: RoyalBlue;
}

#delete-answer button {
    border: 1px solid royalblue;
    border-radius: 10px;
    background-color: transparent
}

#delete-answer button:hover {
    border: 2px solid royalblue;
    border-radius: 10px;
    background-color: #ffffff;
}
/* END OF SUBMIT BUTTONS */

/* NEW BUTTON */
#ask-button {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	padding: 1%;
    margin: 1%;
    cursor: pointer;
}

#ask-button{
    border: 2px solid #0a52ee;
    border-radius: 10px;
    overflow: hidden;
    padding: 10%;
}

#ask-button {
    -webkit-transition: background-color 0.3s linear, color 0.3s linear;
    transition: background-color 0.3s linear, color 0.3s linear;
    background: rgba(255, 255, 255, 0);
}
#ask-button:hover {
    color: white;
    background-color: #0a52ee;
}
/* END OF NEW BUTTON */

/* VOTING ARROWS */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* END OF VOTING ARROWS */

/* TRASH ICON */
.icon-trash {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
}
  
.icon-trash .trash-lid {
    width: 62%;
    height: 10%;
    position: absolute;
    left: 50%;
    margin-left: -31%;
    top: 10.5%;
    background-color: #000;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); 
}
  
.icon-trash .trash-lid:after {
    content: "";
    width: 26%;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -13%;
    margin-top: -10%;
    background-color: inherit;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg); 
}
  
.icon-trash .trash-container {
    width: 56%;
    height: 65%;
    position: absolute;
    left: 50%;
    margin-left: -28%;
    bottom: 10%;
    background-color: #000;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
  
.icon-trash .trash-container:after {
    content: "";
    width: 110%;
    height: 12%;
    position: absolute;
    left: 50%;
    margin-left: -55%;
    top: 0;
    background-color: inherit;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}
  
.icon-trash .trash-line-1 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 38%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
}
  
.icon-trash .trash-line-2 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
}
  
.icon-trash .trash-line-3 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 62%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
}
/* END OF TRASH ICON */