{% extends "layout.html" %}

{% block page_title %}Edit question{% endblock %}

{% block content %}

    <div id="filling-form">
        <form action="{{ url_for('edit_question', question_id=question['id']) }}" method="post" enctype="multipart/form-data">

            <label for="question_title">Title:</label><br>
            <textarea id="question_title" name="title" required>{{ question['title'] if question }}
            </textarea><br>
        
            <label for="question_text">Text:</label><br>
            <textarea id="question_text" name="message" required>{{ question['message'] if question }}
            </textarea><br>

            <label for="image">Click on the "Choose File" button to upload an image:</label><br>
            <input id="file-input-button" type="file" name="image"><br>

            <button id="post-button" type="submit">POST</button>

        </form>
    </div>

    <div class="home-button">
        <form id="home-button" action="{{ url_for('route_list') }}">
            <button>Home</button>
        </form>
    </div>

{% endblock %}
