<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Welcome! | ASK-MATE-1</title>
        <style>
            .center {
                margin: auto;
                width: 90%;
                border: 1px solid black;
            }
        </style>
    </head>

    <body>
        <div><h1>All Questions</h1></div>
        <hr>
        <div style="text-align: right;">
            <form action="{{ url_for('ask_question') }}">
                <input type="submit" value="Ask Question">
            </form>
            <hr>
        </div>

        <div>
            {% for question in questions %}
                <div class="center">
                    <div>
                        <a href="/question/{{ question['id'] }}" title="'{{ question['submission_time'] }}'">
                            {% autoescape false %}{{ question['title'] }}{% endautoescape %}
                        </a>
                        <p style="width:90%">{% autoescape false %}{{ question['message'][:200] }}...{% endautoescape %}</p>
                    </div>

                    <div style="text-align: right;">
                        <div>{{ question["view_number"] }} views</div>
                        <div>{{ question["vote_number"] }} votes</div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </body>

</html>