{% extends "base_form.html" %}
{% block title %}Ask a question{% endblock %}
{% block form_title %}What is your question?{% endblock %}
{% block first_form %}
    <label for="question_title">Title:</label><br>
    <textarea id="question_title" name="title_question" rows="2" cols="60" required></textarea>
{% endblock %}

{% block second_form %}
    <label for="question_text">Text:</label><br>
    <textarea id="question_text" name="text_question" rows="6" cols="60" required></textarea>
{% endblock %}
